.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b6acac;
}

.form-Container {
  background-color: rgb(239, 248, 248);
  padding: 20px;
  max-height: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #700808;
  font-size: large;
  
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="name"],
input[type="email"],
input[type="password"],
button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #576558;
  color: white;
  border: #333;
  cursor:auto;
}

button:hover {
  background-color: #0b160c;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a {
  color: #212b22;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}